*{
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6bcab
}

.principal{
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 28rem;
  height: 24rem;
  background-color: #ffedf1;
  border-radius: 20px;
  margin: 50px auto;
  color: #99516a;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
  width: 25rem;
  height:2.5rem;
  background-color: #a37b80;
  color: #ffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 10px;

}

.valor-a , .valor-b , .btn{
  border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
  outline: none;
  flex-direction: column;
  display: block;
  width: 15rem;
  padding: 0.8rem;
  background-color: #3b1e12;
  color: #fff;
}
.valor-a::placeholder  , .valor-b::placeholder{
  color: #ffedf1;
}

.btn:active{
  background: color #f7d2e6;;
  color:#e07cb7;
  opacity: 0.6;
}

.btn{
  width: 8rem;
  background-color: #664538;
}

