*{
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-image: url(./img4/fdd.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
 font-size: 1.5rem;
 box-shadow: 2px 4px  6px rgba(15, 43, 138, 0.6);
 border-radius: 5px;
 background-color: rgba(145, 179, 243, 0.5);
 
}
.principal{
  margin-top: 100px;
  
  display: flex;
  flex-direction: column;
  width: 28rem;
  height: 30rem;
  background-image: url(./img4/botao.jpeg);
  border-radius: 23px;
  color: #140aa3;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px  6px rgba(52, 96, 240, 0.6);
}

.t1, .t2, .t3{
  margin: 15px auto; 
  width: 15rem; 
  border-radius: 5rem;
  height: 2.2rem;
  border: none;
  box-shadow: 2px 4px  6px rgba(52, 96, 240, 0.6);

}

.t1::placeholder, .t2::placeholder, .t3::placeholder{
color: rgb(71, 71, 172);
}
.btn{
  margin: 20px auto;
  border-radius: 19px;
  box-shadow: 2px 4px  6px rgba(52, 96, 240, 0.6);
  background-image: url(./img4/fundo.jpeg);
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
  height: 45px;
  border: none;
  font-weight: bold;
}


.btn:active{
  color: rgb(57, 174, 252); 
}

 p{
  font-weight: bold;
  border: none;
}
