*{
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body{
  background-color: rgb(238, 216, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  font-size: 1.5rem;
  box-shadow: 2px 4px 6px rgba(40, 0, 77, 0.6);
  margin-bottom: 10px;
}

.principal{
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  width: 24rem;
  height: 20rem;
  background-image: url(./images/baixados.jpeg);
  border-radius: 20px;
  color: #850e37;
  box-shadow: 2px 4px 6px rgba(40, 0, 77, 0.6);
}

  .origem-destino{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  }

  #destino, #origem{
  border: none;
  border-radius: 1rem;
  outline: none;
  flex-direction: column;
  display: inline-block;
  width: 6.5rem;
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: #cb93ff;
  border-top: 2px solid rgb(157, 227, 255);
  border-color: rgb(157, 227, 255);
  box-shadow: 2px 4px 6px rgba(40, 0, 77, 0.6);
  }

.btn{
  width: 8rem;
  background-color: #fcbddf;
  opacity: 20px;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 2px 4px 6px rgba(40, 0, 77, 0.6);
  color: #850e37;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:active{
color: rgb(153, 86, 86);
background-color: rgb(238, 137, 176);
}

#resultado{
  border: none;
  border-radius: 0.5rem;
  width: 6.5rem;
  margin: 0.5rem;
  padding: 0.8rem;
  background-image: url(./images/result.jpeg);
  box-shadow: 2px 2px 6px rgba(214, 241, 91, 0.6);
  font-weight: bold;
  text-align: center;
}

#temperatura{
  border: none;
  border-radius: 0.9rem;
  width: 17rem;
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: #f1ecea;
  box-shadow: 2px 2px 6px rgba(214, 241, 91, 0.6);
  opacity: 0.5rem;
}

#temperatura::placeholder{
color: black;
}

.res{
font-weight: bolder;
}