 *{
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5ceef
}

.principal{
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 25rem;
  height: 20rem;
  background-color: #f2e6f7;
  border-radius: 20px;
  margin: 50px auto;
  color: navy;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2rem;
  width: 20rem;
  height:2.5rem;
  background-color: #ca9ddf;
  color: #ffff;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 17px;
}

.valor-a , .valor-b{
  border: none;
  border-radius: 2rem;
  margin-bottom: 1rem;
  outline: none;
  flex-direction: column;
  display: block;
  width: 15rem;
  padding: 0.8rem;
  background-color: #d7b5e7;
}
.valor-a::placeholder  , .valor-b::placeholder{
  color: #ffedf1;
}

.btn{
  width: 8rem;
  background-color: #9551b4;
  border: none;
  border-radius: 2rem;
  margin-bottom: 2rem;
  outline: none;
  flex-direction: column;
  display: block;
  padding: 0.8rem;
  color: #fff;
}

.btn:active{
  background-color: rgb(101, 92, 189);
  color: #f3daff ;
}

.valor-{
  border-radius: 10px;
  width: 10rem;
  padding: 0.8rem;
  background-color: #f8f8ec;
}
