*{
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-image: url(./img5/Purple\ Aesthetic\ iPad\ wallpaper.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1{
 font-size: 1.5rem;
 box-shadow: 2px 4px  6px rgba(147, 89, 255, 0.6);
 border-radius: 5px;
 background-color: rgba(202, 148, 247, 0.5);
 
}
.principal{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: 25rem;
  background-image: url(./img5/wallpaper.jpeg);
  border-radius: 23px;
  color: #780088;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px  6px rgba(145, 76, 185, 0.6);
}

.mae, .filho1, .filho2{
  margin: 15px auto; 
  width: 15rem; 
  border-radius: 5rem;
  height: 2.2rem;
  border: none;
  box-shadow: 2px 4px  6px rgba(147, 89, 255, 0.6);
  background-image: url(./img5/botao.jpeg);
}

.mae::placeholder, .filho1::placeholder, .filho2::placeholder{
color: rgb(150, 0, 209);
}
.btn{
  margin: 20px auto;
  border-radius: 19px;
  box-shadow: 2px 4px  6px rgba(145, 76, 185, 0.6);
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
  height: 45px;
  border: none;
  font-weight: bold;
  background-color: rgb(224, 210, 236);
  color: rgb(86, 48, 117);
}


.btn:active{
  color: rgb(174, 57, 252); 
  background-color: #c6b5c9;
}

 p, .p2{
  font-weight: bold;
  border: none;
  margin-top: 15px auto;
}

