*{
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  margin-bottom: 20px;
 }

 body{
 background-image: url(./imgO/baixados\ \(1\).jpeg);
 margin: 0 auto;
 display: flex;
 min-height: 100vh;
 }

.principal{
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 25rem;
    height: 18rem;
    background-color: #fae1e1c0;
    border-radius: 20px;
    margin: 50px auto;
    color: #fbf8fc;
    align-items: center;
    
}

h1{
    margin-bottom: 15px;
    height: 5rem;
    width: 19rem;
    background-color: #d82c60;
    border-radius: 20px;
    text-align: center;

}
.beecrowd a{
    color: #f9f6fa;
    font-size: 25px;
    background-color: #ecb6f7;
    border-radius:  10px;
    padding: 5px;
    text-decoration: none;
    width: 12rem;
    height: 3rem;
    border: none;
    padding: 0.5rem 0.1rem;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
}
.con a{
    color: #f9f6fa;
    font-size: 25px;
    background-color: #ecb6f7;
    border-radius:  10px;
    padding: 5px;
    text-decoration: none;
    width: 12rem;
    height: 3rem;
    border: none;
    padding: 0.5rem 0.1rem;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
}
.lde a{
    color: #f9f6fa;
    font-size: 25px;
    background-color: #ecb6f7;
    border-radius:  10px;
    padding: 5px;
    text-decoration: none;
    width: 12rem;
    height: 3rem;
    border: none;
    padding: 0.5rem 0.1rem;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
}
.rodape{
    width: 25rem;
    background-color: #c893e0;
    color: #f0e8f5;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    box-shadow: 0 -2px 5px rgba0,0,0,0.2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}