*{
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-family: monospace;
}

body{
  background-color: rgb(241, 243, 215);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
 font-size: 1.5rem;
 box-shadow: 2px 4px 6px rgba(175, 150, 9, 0.6);
 border-radius: 5px;
 background-color: rgba(224, 224, 180, 0.61);
 
}
.principal{
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 25rem;
  background-image: url(./img3/Winnie\ the\ Pooh.jpeg);
  border-radius: 23px;
  color: #0c0c0c;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px rgba(175, 150, 9, 0.6);
}

#BO{
  margin: 15px auto; 
  width: 15rem; 
  border-radius: 5rem;
  height: 2.2rem;
  border: none;
  box-shadow: 2px 4px 6px rgba(175, 150, 9, 0.6);
}
.btn{
  margin: 20px auto;
  border-radius: 19px;
  box-shadow: 2px 4px 6px rgba(175, 150, 9, 0.6);
  background-image: url(./img3/Mesversario_.jpeg);
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 89px;
  height: 39px;
  border: none;
  font-weight: bold;
}

.btn:active{
  color: rgb(179, 161, 0); 
  background-color: rgb(233, 222, 164);
}

 p{
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
}
