*{
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: rgb(254, 255, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h1{
 font-size: 1.5rem;
 box-shadow: 2px 4px 6px rgba(199, 211, 93, 0.479);
 border-radius: 5px;
 background-color: rgba(255, 255, 240, 0.61);

}
.principal{
  margin-left: auto;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  background-image: url(./img/backA.jpg);
  border-radius: 20px;
  color: #1b1818;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px rgba(199, 211, 93, 0.6);
  padding: 25px;
}

#tabuada{
  border-radius: 8px;
  border: none;
  box-shadow: 2px 4px 6px rgba(199, 211, 93, 0.6);
  font-weight: bold;
  margin: 12px auto;
  text-align: center;
}

.btn{

  border-radius: 8px;
  box-shadow: 2px 4px 6px rgba(199, 211, 93, 0.6);
  background-color: khaki;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.titulo, p {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;
}

.caixa-tabuada{
  background-color: rgba(235, 240, 163, 0.534);
  border: 2px solid rgba(243, 228, 11, 0.979);
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  margin: 20px auto;
  max-width: 20px auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
