*{
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: rgb(243, 215, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: blueviolet;
  border-top: blueviolet;

}

.PNN{
 font-size: 1.5rem;
 box-shadow: 2px 4px 6px rgba(175, 9, 161, 0.6);
 border-radius: 5px;
 margin: 20px auto;
 background-color: rgba(218, 112, 214, 0.301);
 
}
.principal{
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 27rem;
  background-image: url(./img2/nopy.jpg);
  border-radius: 23px;
  color: #0c0c0c;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(188, 140, 233);
}

.N{
  margin: 15px auto; 
  width: 10rem; 
  border-radius: 5rem;
  height: 2.2rem;
  border-color: blueviolet;
  box-shadow: 2px 4px 6px rgba(175, 9, 161, 0.6);
}
.btn{
  margin: 20px auto;
  border-radius: 19px;
  box-shadow: 2px 4px 6px rgba(175, 9, 161, 0.6);
  background-color: plum;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 75px;
  height: 35px;
  border-color: blueviolet;
}

.btn:active{
background-color: rgb(224, 103, 235);
color: rgb(53, 6, 75);
}

 p {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.N::placeholder{
color: rgb(53, 6, 75);
}